{% extends 'base.html' %}

{% block css %}
  {% for stylesheet in interface['css']['profile'] %}
      <link rel="stylesheet" href="{{ url_for('static', filename=stylesheet) }}">
  {% endfor %}
{% endblock %}

{% block page_content %}
  <div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
      <!-- SECTION BANNER ICON -->
      <img class="section-banner-icon" src="{{ url_for('static', filename='img/banner/forums-icon.png') }}" alt="forums-icon">
      <!-- /SECTION BANNER ICON -->
  
      <!-- SECTION BANNER TITLE -->
      <p class="section-banner-title">Forums</p>
      <!-- /SECTION BANNER TITLE -->
  
      <!-- SECTION BANNER TEXT -->
      <p class="section-banner-text">Talk about anything! Deals, Food Recipes, and more!</p>
      <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- SECTION HEADER -->
    <div class="section-header">
      <!-- SECTION HEADER INFO -->
      <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">Welcome to</p>
        <!-- /SECTION PRETITLE -->
  
        <!-- SECTION TITLE -->
        <h2 class="section-title">Kaktus Forums</h2>
        <!-- /SECTION TITLE -->
      </div>
      <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v7">
      <!-- SECTION FILTERS BAR ACTIONS -->
      <div class="section-filters-bar-actions">
        <!-- SECTION FILTERS BAR INFO -->
        <div class="section-filters-bar-info">
          <!-- SECTION FILTERS BAR TITLE -->
          <p class="section-filters-bar-title"><a href="forums.html">Forums</a></p>
          <!-- /SECTION FILTERS BAR TITLE -->
  
          <!-- SECTION FILTERS BAR TEXT -->
          <p class="section-filters-bar-text">Last category added <a class="highlighted" href="forums-category.html">The Jukebox</a> 2 weeks ago</p>
          <!-- /SECTION FILTERS BAR TEXT -->
        </div>
        <!-- /SECTION FILTERS BAR INFO -->
      </div>
      <!-- /SECTION FILTERS BAR ACTIONS -->
  
      <!-- SECTION FILTERS BAR ACTIONS -->
      <div class="section-filters-bar-actions">
        <!-- FORM -->
        <form class="form">
          <!-- FORM ITEM -->
          <div class="form-item split">
            <!-- FORM INPUT -->
            <div class="form-input small">
              <label for="forum-search">Search Forums</label>
              <input type="text" id="forum-search" name="forum_search">
            </div>
            <!-- /FORM INPUT -->
  
            <!-- BUTTON -->
            <button class="button primary">
              <!-- ICON MAGNIFYING GLASS -->
              <svg class="icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
              </svg>
              <!-- /ICON MAGNIFYING GLASS -->
            </button>
            <!-- /BUTTON -->
          </div>
          <!-- /FORM ITEM -->
        </form>
        <!-- /FORM -->
      </div>
      <!-- /SECTION FILTERS BAR ACTIONS -->
    </div>
    <!-- /SECTION FILTERS BAR -->

    <!-- TABLE -->
    <div class="table table-forum-category">
      <!-- TABLE HEADER -->
      <div class="table-header">
        <!-- TABLE HEADER COLUMN -->
        <div class="table-header-column">
          <!-- TABLE HEADER TITLE -->
          <p class="table-header-title">Category</p>
          <!-- /TABLE HEADER TITLE -->
        </div>
        <!-- /TABLE HEADER COLUMN -->
  
        <!-- TABLE HEADER COLUMN -->
        <div class="table-header-column centered padded-medium">
          <!-- TABLE HEADER TITLE -->
          <p class="table-header-title">Topics</p>
          <!-- /TABLE HEADER TITLE -->
        </div>
        <!-- /TABLE HEADER COLUMN -->
  
        <!-- TABLE HEADER COLUMN -->
        <div class="table-header-column centered padded-medium">
          <!-- TABLE HEADER TITLE -->
          <p class="table-header-title">Posts</p>
          <!-- /TABLE HEADER TITLE -->
        </div>
        <!-- /TABLE HEADER COLUMN -->
  
        <!-- TABLE HEADER COLUMN -->
        <div class="table-header-column padded-big-left">
          <!-- TABLE HEADER TITLE -->
          <p class="table-header-title">Recent Topics</p>
          <!-- /TABLE HEADER TITLE -->
        </div>
        <!-- /TABLE HEADER COLUMN -->
      </div>
      <!-- /TABLE HEADER -->
  
      <!-- TABLE BODY -->
      <div class="table-body">
        <!-- TABLE ROW -->
        <div class="table-row big">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/01.png') }}" alt="category-01">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">Community Hangout</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">A place for the community to talk and chat about whatever they want!</p>
                <!-- /FORUM CATEGORY TEXT -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">44</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">236</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">What's your favourite food in the world?</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Share a picture of your city or town and let's travel together!</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Do you think we'll ever get flying cars in the future?</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->
  
        <!-- TABLE ROW -->
        <div class="table-row big">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/02.png') }}" alt="category-02">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">The Arcade</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">Everything about the gaming world! News, reviews, upcoming games and more!</p>
                <!-- /FORUM CATEGORY TEXT -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">23</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">109</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Post your GTE V character photo and vote for the best!</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Does anyone know how to capture Mewthree?</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Super Brawl Bross tournament. Sign up right here!</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row big">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/03.png') }}" alt="category-03">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">Cosplayers of the World</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">A place for the community to talk and chat about whatever they want!</p>
                <!-- /FORUM CATEGORY TEXT -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">19</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">56</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Introduce yourself and show us your cosplays!</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Show your progress. Post a photo of your first and last cosplay</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Tips on how to build a resistant yet light armor</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->
  
        <!-- TABLE ROW -->
        <div class="table-row big auto">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/04.png') }}" alt="category-04">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">Animation Watchtower</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">Everything about the gaming world! News, reviews, upcoming games and more!</p>
                <!-- /FORUM CATEGORY TEXT -->
  
                <!-- FORUM CATEGORY LINK -->
                <p class="forum-category-link"><a href="forums-category.html">Comics</a></p>
                <!-- /FORUM CATEGORY LINK -->
  
                <!-- FORUM CATEGORY LINK -->
                <p class="forum-category-link"><a href="forums-category.html">Anime &amp; Manga</a></p>
                <!-- /FORUM CATEGORY LINK -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">31</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">96</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Bebop Publishing will release a limited edition of "Justice"</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Come and discuss that new "Power X" transformation</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">This is the first image of the new "Multiverse" movie!</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row big">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/05.png') }}" alt="category-05">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">Live Streamers Unite!</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">A place for the community to talk and chat about whatever they want!</p>
                <!-- /FORUM CATEGORY TEXT -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">107</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">454</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Starting your stream? Here are some tips for you!</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Charity Runs: Complete list of upcoming charity runs streams</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">What do you think about the newest "CaptainS" rebranding?</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row big">
          <!-- TABLE COLUMN -->
          <div class="table-column">
            <!-- FORUM CATEGORY -->
            <div class="forum-category">
              <!-- FORUM CATEGORY IMAGE -->
              <a href="forums-category.html">
                <img class="forum-category-image" src="{{ url_for('static', filename='img/forum/category/06.png') }}" alt="category-06">
              </a>
              <!-- /FORUM CATEGORY IMAGE -->
  
              <!-- FORUM CATEGORY INFO -->
              <div class="forum-category-info">
                <!-- FORUM CATEGORY TITLE -->
                <p class="forum-category-title"><a href="forums-category.html">The Jukebox</a></p>
                <!-- /FORUM CATEGORY TITLE -->
  
                <!-- FORUM CATEGORY TEXT -->
                <p class="forum-category-text">Everything about the gaming world! News, reviews, upcoming games and more!</p>
                <!-- /FORUM CATEGORY TEXT -->
              </div>
              <!-- /FORUM CATEGORY INFO -->
            </div>
            <!-- /FORUM CATEGORY -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">8</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column centered padded-medium">
            <!-- TABLE TITLE -->
            <p class="table-title">21</p>
            <!-- /TABLE TITLE -->
          </div>
          <!-- /TABLE COLUMN -->
  
          <!-- TABLE COLUMN -->
          <div class="table-column padded-big-left">
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Ju Fighters will tour North America in Q4 2020</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">Recommend a song for...commuting to work (GAME)</a>
            <!-- /TABLE LINK -->
  
            <!-- TABLE LINK -->
            <a class="table-link" href="forums-discussion.html">I'm selling my Flying X guitar. Come and take a look!</a>
            <!-- /TABLE LINK -->
          </div>
          <!-- /TABLE COLUMN -->
        </div>
        <!-- /TABLE ROW -->
      </div>
      <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}

{% block js %}
  {% for script in interface['js']['profile'] %}
    <script src="{{ url_for('static', filename=script) }}"></script>
  {% endfor %}
{% endblock %}