{% extends 'base.html' %}

{% block css %}
  {% for stylesheet in interface['css']['store'] %}
      <link rel="stylesheet" href="{{ url_for('static', filename=stylesheet) }}">
  {% endfor %}
{% endblock %}

{% block page_content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE HEADER COVER -->
      <figure class="profile-header-cover liquid">
        <img src="{{ url_for('static', filename=store['image']) }}" alt="cover-01">
      </figure>
      <!-- /PROFILE HEADER COVER -->
  
      <!-- PROFILE HEADER INFO -->
      <div class="profile-header-info">
        <!-- USER SHORT DESCRIPTION -->
        <div class="user-short-description big">
          <!-- USER SHORT DESCRIPTION AVATAR -->
          <a class="user-short-description-avatar user-avatar big" href="profile-timeline.html">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div class="hexagon-148-164"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->
        
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div class="hexagon-image-100-110" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
        
            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
              <!-- HEXAGON -->
              <div class="hexagon-progress-124-136"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->
        
            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
              <!-- HEXAGON -->
              <div class="hexagon-border-124-136"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->
        
            <!-- USER AVATAR BADGE -->
            <div class="user-avatar-badge">
              <!-- USER AVATAR BADGE BORDER -->
              <div class="user-avatar-badge-border">
                <!-- HEXAGON -->
                <div class="hexagon-40-44"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BADGE BORDER -->
        
              <!-- USER AVATAR BADGE CONTENT -->
              <div class="user-avatar-badge-content">
                <!-- HEXAGON -->
                <div class="hexagon-dark-32-34"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BADGE CONTENT -->
        
              <!-- USER AVATAR BADGE TEXT -->
              <p class="user-avatar-badge-text">24</p>
              <!-- /USER AVATAR BADGE TEXT -->
            </div>
            <!-- /USER AVATAR BADGE -->
          </a>
          <!-- /USER SHORT DESCRIPTION AVATAR -->
  
          <!-- USER SHORT DESCRIPTION AVATAR -->
          <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium" href="profile-timeline.html">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div class="hexagon-120-132"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->
        
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div class="hexagon-image-82-90" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
        
            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
              <!-- HEXAGON -->
              <div class="hexagon-progress-100-110"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->
        
            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
              <!-- HEXAGON -->
              <div class="hexagon-border-100-110"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->
        
            <!-- USER AVATAR BADGE -->
            <div class="user-avatar-badge">
              <!-- USER AVATAR BADGE BORDER -->
              <div class="user-avatar-badge-border">
                <!-- HEXAGON -->
                <div class="hexagon-32-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BADGE BORDER -->
        
              <!-- USER AVATAR BADGE CONTENT -->
              <div class="user-avatar-badge-content">
                <!-- HEXAGON -->
                <div class="hexagon-dark-26-28"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BADGE CONTENT -->
        
              <!-- USER AVATAR BADGE TEXT -->
              <p class="user-avatar-badge-text">24</p>
              <!-- /USER AVATAR BADGE TEXT -->
            </div>
            <!-- /USER AVATAR BADGE -->
          </a>
          <!-- /USER SHORT DESCRIPTION AVATAR -->
    
          <!-- USER SHORT DESCRIPTION TITLE -->
          <p class="user-short-description-title"><a href="profile-timeline.html">{{ store['name'] }}</a></p>
          <!-- /USER SHORT DESCRIPTION TITLE -->
    
          <!-- USER SHORT DESCRIPTION TEXT -->
          <p class="user-short-description-text"><a href="#">{{ store['handle'] }}</a></p>
          <!-- /USER SHORT DESCRIPTION TEXT -->
        </div>
        <!-- /USER SHORT DESCRIPTION -->
  
        <!-- PROFILE HEADER SOCIAL LINKS WRAP -->
        <div class="profile-header-social-links-wrap">
          <!-- PROFILE HEADER SOCIAL LINKS -->
          <div id="profile-header-social-links-slider" class="profile-header-social-links">
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link facebook" href="#">
                <!-- ICON FACEBOOK -->
                <svg class="icon-facebook">
                  <use xlink:href="#svg-facebook"></use>
                </svg>
                <!-- /ICON FACEBOOK -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
      
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link twitter" href="#">
                <!-- ICON TWITTER -->
                <svg class="icon-twitter">
                  <use xlink:href="#svg-twitter"></use>
                </svg>
                <!-- /ICON TWITTER -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
  
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link instagram" href="#">
                <!-- ICON INSTAGRAM -->
                <svg class="icon-instagram">
                  <use xlink:href="#svg-instagram"></use>
                </svg>
                <!-- /ICON INSTAGRAM -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
      
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link twitch" href="#">
                <!-- ICON TWITCH -->
                <svg class="icon-twitch">
                  <use xlink:href="#svg-twitch"></use>
                </svg>
                <!-- /ICON TWITCH -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
      
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link youtube" href="#">
                <!-- ICON YOUTUBE -->
                <svg class="icon-youtube">
                  <use xlink:href="#svg-youtube"></use>
                </svg>
                <!-- /ICON YOUTUBE -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
  
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link patreon" href="#">
                <!-- ICON PATREON -->
                <svg class="icon-patreon">
                  <use xlink:href="#svg-patreon"></use>
                </svg>
                <!-- /ICON PATREON -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
  
            <div class="profile-header-social-link">
              <!-- SOCIAL LINK -->
              <a class="social-link discord" href="#">
                <!-- ICON DISCORD -->
                <svg class="icon-discord">
                  <use xlink:href="#svg-discord"></use>
                </svg>
                <!-- /ICON DISCORD -->
              </a>
              <!-- /SOCIAL LINK -->
            </div>
          </div>
          <!-- /PROFILE HEADER SOCIAL LINKS -->
  
          <!-- SLIDER CONTROLS -->
          <div id="profile-header-social-links-slider-controls" class="slider-controls">
            <!-- SLIDER CONTROL -->
            <div class="slider-control left">
              <!-- SLIDER CONTROL ICON -->
              <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
              <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
  
            <!-- SLIDER CONTROL -->
            <div class="slider-control right">
              <!-- SLIDER CONTROL ICON -->
              <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
              <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
          </div>
          <!-- /SLIDER CONTROLS -->
        </div>
        <!-- /PROFILE HEADER SOCIAL LINKS WRAP -->
  
        <!-- USER STATS -->
        <div class="user-stats">
          <!-- USER STAT -->
          <div class="user-stat big">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">{{ store['items'] }}</p>
            <!-- /USER STAT TITLE -->
    
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">items</p>
            <!-- /USER STAT TEXT -->
          </div>
          <!-- /USER STAT -->
    
          <!-- USER STAT -->
          <div class="user-stat big">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">{{ store['followers'] }}</p>
            <!-- /USER STAT TITLE -->
    
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">followers</p>
            <!-- /USER STAT TEXT -->
          </div>
          <!-- /USER STAT -->
    
          <!-- USER STAT -->
          <div class="user-stat big">
            <!-- USER STAT TITLE -->
            <p class="user-stat-title">{{ store['reviews'] }}</p>
            <!-- /USER STAT TITLE -->
    
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">reviews</p>
            <!-- /USER STAT TEXT -->
          </div>
          <!-- /USER STAT -->
  
          <!-- USER STAT -->
          <div class="user-stat big">
            <!-- USER STAT IMAGE -->
            <img class="user-stat-image" src="{{ url_for('static', filename='img/flag/usa.png') }}" alt="flag-usa">
            <!-- /USER STAT IMAGE -->
    
            <!-- USER STAT TEXT -->
            <p class="user-stat-text">usa</p>
            <!-- /USER STAT TEXT -->
          </div>
          <!-- /USER STAT -->
        </div>
        <!-- /USER STATS -->
  
        <!-- PROFILE HEADER INFO ACTIONS -->
        <div class="profile-header-info-actions">
          <!-- PROFILE HEADER INFO ACTION -->
          <p class="profile-header-info-action button secondary">Follow <span class="hide-text-mobile">Store </span>+</p>
          <!-- /PROFILE HEADER INFO ACTION -->
          
          <!-- PROFILE HEADER INFO ACTION -->
          <p class="profile-header-info-action button primary"><span class="hide-text-mobile">Send</span> Message</p>
          <!-- /PROFILE HEADER INFO ACTION -->
        </div>
        <!-- /PROFILE HEADER INFO ACTIONS -->
      </div>
      <!-- /PROFILE HEADER INFO -->
    </div>
    <!-- /PROFILE HEADER -->

    <!-- SECTION NAVIGATION -->
    <nav class="section-navigation">
      <!-- SECTION MENU -->
      <div id="section-navigation-slider" class="section-menu">
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-about.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-profile">
            <use xlink:href="#svg-profile"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">About</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-timeline.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-timeline">
            <use xlink:href="#svg-timeline"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Timeline</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-friends.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-friend">
            <use xlink:href="#svg-friend"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Friends</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-groups.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-group">
            <use xlink:href="#svg-group"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Groups</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-photos.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-photos">
            <use xlink:href="#svg-photos"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Photos</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-videos.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-videos">
            <use xlink:href="#svg-videos"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Videos</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-badges.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-badges">
            <use xlink:href="#svg-badges"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Badges</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-stream.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-streams">
            <use xlink:href="#svg-streams"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Streams</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-blog.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-blog-posts">
            <use xlink:href="#svg-blog-posts"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Blog</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item" href="profile-forum.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-forum">
            <use xlink:href="#svg-forum"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Forum</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
  
        <!-- SECTION MENU ITEM -->
        <a class="section-menu-item active" href="profile-store.html">
          <!-- SECTION MENU ITEM ICON -->
          <svg class="section-menu-item-icon icon-store">
            <use xlink:href="#svg-store"></use>
          </svg>
          <!-- /SECTION MENU ITEM ICON -->
  
          <!-- SECTION MENU ITEM TEXT -->
          <p class="section-menu-item-text">Store</p>
          <!-- /SECTION MENU ITEM TEXT -->
        </a>
        <!-- /SECTION MENU ITEM -->
      </div>
      <!-- /SECTION MENU -->
  
      <!-- SLIDER CONTROLS -->
      <div id="section-navigation-slider-controls" class="slider-controls">
        <!-- SLIDER CONTROL -->
        <div class="slider-control left">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
  
        <!-- SLIDER CONTROL -->
        <div class="slider-control right">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
      </div>
      <!-- /SLIDER CONTROLS -->
    </nav>
    <!-- /SECTION NAVIGATION -->

    <!-- SECTION -->
    <section class="section">
      <!-- SECTION HEADER -->
      <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
          <!-- SECTION PRETITLE -->
          <p class="section-pretitle">Browse Marina's</p>
          <!-- /SECTION PRETITLE -->
  
          <!-- SECTION TITLE -->
          <h2 class="section-title">Item Store <span class="highlighted">5</span></h2>
          <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
      </div>
      <!-- /SECTION HEADER -->

      <!-- SECTION FILTERS BAR -->
      <div class="section-filters-bar centered v3">
        <!-- FILTER TABS -->
        <div class="filter-tabs">
          <!-- FILTER TAB -->
          <div class="filter-tab">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">Best Sellers</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
    
          <!-- FILTER TAB -->
          <div class="filter-tab active">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">Recently Added</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
    
          <!-- FILTER TAB -->
          <div class="filter-tab">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">Best Rated</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
    
          <!-- FILTER TAB -->
          <div class="filter-tab">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">Lowest Price</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
    
          <!-- FILTER TAB -->
          <div class="filter-tab">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">Highest Price</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
        </div>
        <!-- /FILTER TABS -->
    
        <!-- FORM -->
        <form class="form">
          <!-- FORM SELECT -->
          <div class="form-select">
            <label for="store-filter-category">Filter By</label>
            <select id="store-filter-category" name="store_filter_category">
              <option value="0">Best Sellers</option>
              <option value="1">Recently Added</option>
              <option value="2">Best Rated</option>
              <option value="3">Lowest Price</option>
              <option value="4">Highest Price</option>
            </select>
            <!-- FORM SELECT ICON -->
            <svg class="form-select-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /FORM SELECT ICON -->
          </div>
          <!-- /FORM SELECT -->
        </form>
        <!-- /FORM -->
      </div>
      <!-- /SECTION FILTERS BAR -->

      <!-- GRID -->
      <div class="grid grid-3-3-3-3 centered">
        <!-- PRODUCT PREVIEW -->
        <div class="product-preview">
          <!-- PRODUCT PREVIEW IMAGE -->
          <a href="marketplace-product.html">
            <figure class="product-preview-image liquid">
              <img src="{{ url_for('static', filename='img/marketplace/items/01.jpg') }}" alt="item-01">
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->
      
          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker"><span class="highlighted">$</span> 12.00</p>
            <!-- /TEXT STICKER -->
      
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="marketplace-product.html">Twitch Stream UI Pack</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
      
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="marketplace-category.html">Stream Packs</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
      
            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">Awesome hexagon themed stream pack, you can change all colors and...</p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
      
          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-18-20" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text"><a href="profile-timeline.html">Marina Valentine</a></p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->
      
            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->

        <!-- PRODUCT PREVIEW -->
        <div class="product-preview">
          <!-- PRODUCT PREVIEW IMAGE -->
          <a href="marketplace-product.html">
            <figure class="product-preview-image liquid">
              <img src="{{ url_for('static', filename='img/marketplace/items/03.jpg') }}" alt="item-03">
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->
      
          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker"><span class="highlighted">$</span> 40.00</p>
            <!-- /TEXT STICKER -->
      
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="marketplace-product.html">Flaming Skull Team Logo</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
      
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="marketplace-category.html">Logos &amp; Badges</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
      
            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">Get this incredible horned skull logo! It's really easy to change colors with the...</p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
      
          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-18-20" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text"><a href="profile-timeline.html">Marina Valentine</a></p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->
      
            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->

        <!-- PRODUCT PREVIEW -->
        <div class="product-preview">
          <!-- PRODUCT PREVIEW IMAGE -->
          <a href="marketplace-product.html">
            <figure class="product-preview-image liquid">
              <img src="{{ url_for('static', filename='img/marketplace/items/13.jpg') }}" alt="item-13">
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->
      
          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker"><span class="highlighted">$</span> 24.00</p>
            <!-- /TEXT STICKER -->
      
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="marketplace-product.html">American Football Team Page</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
      
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="marketplace-category.html">HTML Templates</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
      
            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">Perfect template for American Football teams, with all you need, like results...</p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
      
          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-18-20" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text"><a href="profile-timeline.html">Marina Valentine</a></p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->
      
            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->

        <!-- PRODUCT PREVIEW -->
        <div class="product-preview">
          <!-- PRODUCT PREVIEW IMAGE -->
          <a href="marketplace-product.html">
            <figure class="product-preview-image liquid">
              <img src="{{ url_for('static', filename='img/marketplace/items/05.jpg') }}" alt="item-05">
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->
      
          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker"><span class="highlighted">$</span> 24.00</p>
            <!-- /TEXT STICKER -->
      
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="marketplace-product.html">Emerald Dragon Digital Marketpl...</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
      
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="marketplace-category.html">HTML Templates</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
      
            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">Digital marketplace HTML template with all you need to build your own...</p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
      
          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-18-20" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text"><a href="profile-timeline.html">Marina Valentine</a></p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->
      
            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->

        <!-- PRODUCT PREVIEW -->
        <div class="product-preview">
          <!-- PRODUCT PREVIEW IMAGE -->
          <a href="marketplace-product.html">
            <figure class="product-preview-image liquid">
              <img src="{{ url_for('static', filename='img/marketplace/items/10.jpg') }}" alt="item-10">
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->
      
          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker"><span class="highlighted">$</span> 26.00</p>
            <!-- /TEXT STICKER -->
      
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="marketplace-product.html">Pixel Diamond Gaming Magazine</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
      
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="marketplace-category.html">HTML Templates</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
      
            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">Awesome HTML template for eSports and gaming! Also includes a forum...</p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
      
          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-18-20" data-src="{{ url_for('static', filename='img/avatar/01.jpg') }}"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->
      
              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text"><a href="profile-timeline.html">Marina Valentine</a></p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->
      
            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
      
              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->
      </div>
      <!-- /GRID -->
    </section>
    <!-- /SECTION -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}

{% block js %}
  {% for script in interface['js']['store'] %}
    <script src="{{ url_for('static', filename=script) }}"></script>
  {% endfor %}
{% endblock %}